<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/custom.css" th:href="@{/css/custom.css}" type="text/css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="footer">

<div th:fragment="copy">
    <div class="panel panel-default footer">
        <div class="panel-body">
            &copy; 2019 Codecool/lost-in-space Budapest
        </div>
    </div>
</div>

</body>
</html>
