<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:fragment="header">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Lost in space
    </title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>


    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/static/css/custom.css" th:href="@{/css/custom.css}" type="text/css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>


<div class="jumbotron text-center">
    <h1>Lost-in-space</h1>

    <h2 th:text="'Buy terrytory on ' +${planetName} "></h2>
</div>

<div class="container">

    <div class="well well-sm">
        <strong>Please provide the size of the territory you are willing to buy:</strong>
        <p th:text="'Max available territory: '+ ${availableTerritory} +' km2'"></p>
    </div>
    <form action="/planet" method="post">
        <div>
            <p>Territory size:</p>
            <input type="text" name="size" required>
            <br>
            <input type="submit" class="btn btn-success" value="size">
        </div>

        <!--<div th:switch="${paymentChoice}" >
            <div  th:case = "${'credit-card'}">
                <br>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>

                </div>
            </div>
        </div>-->
    </form>
</div>

<br>
</body>
<div th:replace="footer.html :: copy"></div>

</html>