<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="UTF-8">
    <title>Find your new home</title>
    <link href="/static/css/material-dashboard.css" rel="stylesheet">
    <link href="/static/css/demo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<div th:replace="navbar.html :: copy"></div>
<h1>Welcome</h1>o
<h2>Find your new home with us!</h2>
<h4>Choose a planet</h4>

<form action="/planet" method="get">
    <tr th:each= "planet:  ${planets}" >
        <td><input type="radio"   name="planet" th:text="${planet} " th:value="${planet}" required><br>
        </td>
    </tr>
    <input type="submit" value="Submit">
</form>

<div th:replace="footer.html :: copy"></div>



</body>
</html>