<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find your new home</title>
</head>
<body>
<h1>Welcome</h1>
<h2>Find your new home with us!</h2>
<h4>Choose a planet</h4>

<form action="/accomodation" method="post">
    <input type="radio"   name="planet" value="Venus" required>Venus<br>
    <input type="radio"   name="planet" value="Mars" required>Mars<br>
    <input type="radio"   name="planet" value="Jupiter" required>Jupiter<br>
    <input type="radio"   name="planet" value="Saturnus"required>Saturnus<br>
    <input type="radio"   name="planet" value="Uranus" required>Uranus<br>
    <input type="radio"   name="planet" value="Neptunus" required>Neptunus<br>
    <input type="radio"   name="planet" value="Pluto" required>Pluto<br>
    <input type="submit" value="Submit">
</form>


</body>
</html>